aside {
  background: rgba(123,123,123,.9);
  border-radius: 0 5px 5px 0;
  position: fixed;
  top: 55px;
  width: 200px;
  z-index: 5;
  transition-duration: .5s;

  &.hide {
    transform: translateX(-200px);

    i {
      right: -20px;
      border: 7px solid transparent;
      border-left: 7px solid #ccc;
      &:hover {
        border: 7px solid transparent;
        border-left: 7px solid hsl(141, 71%, 48%);
      }
    }
  }

  ul.links-list {
    list-style: none;

    li {
      padding: 3px 0;
    }
  }

  a {
    text-decoration: none;
    color: #fff;
    transition-duration: .222s;

    &:hover {
      color: rgb(97, 218, 251);
    }

    &.active {
      &::before {
        position: absolute;
        left: 20px;
        content: "►";
      }

      &:hover {
        color: #fff;
      }
    }
  }

  i {
    display: block;
    cursor: pointer;
    transition-duration: .5s;
    position: absolute;
    z-index: 10;
    right: -10px;
    top: 0;
    border: 7px solid transparent;
    border-right: 7px solid #888;

    &:hover {
      border-right: 7px solid hsl(348, 100%, 61%);
    }
  }
}
