* { box-sizing: border-box; }

$title-color: maroon;

@import "~normalize.css";
@import "~github-markdown-css";

.markdown-body {
  background: #d8f4f7;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  h1 { color: $title-color; }
}
